.container {
    background-color: #184e77;
    height: 100%;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #99d98c;
    /* pointer-events: none; */
}

.link {
    color: #fff;
    font-size: 3rem;
    width: 10rem;
    margin: 1rem 5rem 1rem auto;
}

.link:hover {
    color: #99d98c;
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        position: absolute;
        z-index: 50;
    }
}