.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchContainer {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
}

select {
  margin-right: 0;
  height: 3rem;
  background-color: #99d98c;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
}

.searchBar {
  margin: auto 1rem auto 1rem;
  width: 30rem !important;
  height: 3rem;
  border-radius: 50px;
  border: 2px solid #99d98c;
  color: #1e6091;
  font-weight: bold;
  padding-left: 1rem;
}

.searchBar:focus {
  outline: none;
}

.searchBtn {
  margin-left: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 2px solid #99d98c;
  color: #99d98c;
  font-size: 1rem;
}

.searchBtn:hover {
  background-color: #99d98c;
  color: #fff;
}

@media screen and (max-width: 768px) {
  select {
    margin-left: 5px;
  }

  .searchBar {
    max-width: 90%;
    margin: auto 10px auto 10px;
  }

  .searchBtn {
    margin: auto 5px auto 0;
    height: 3rem;
    min-width: 3rem;
  }
  .searchContainer {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
